<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Value Voyage - Findings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global-styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/findings-styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="section">{% include 'sections/findings/slide1.html' %}</div>
    </div>

    <script src="{{ url_for('static', filename='js/scroll-activate.js') }}"></script>
</body>
</html>
