<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Voyage Voyage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global-styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage-styles.css') }}">
</head>
<body>
    <div class="container">
            <div class="top-bar" id="topBar">
            <div class="menu-toggle" id="menuToggle" onclick="toggleTopNav()">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="top-nav" id="topNav">
                <a href="/sections/objective">Objective</a>
                <a href="/sections/methods">Methods</a>
                <a href="/sections/findings">Major Findings</a>
                <a href="/sections/data">Data</a>
            </div>
        </div>

        {% for slide in slides %}
            <div class="section">{% include slide %}</div>
        {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='js/scroll-activate.js') }}"></script>
</body>
</html>
