<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div class="plot-container" id="plot2"></div>

<script>
    const traceLine2 = {
        x: [1900, 1920, 1940, 1960, 1980, 2000, 2020],
        y: [1.2, 2.1, 3.5, 5.0, 6.8, 9.1, 12.4],
        type: 'scatter',
        mode: 'lines+markers',
        marker: { color: 'blue' },
        name: 'Average Price'
    };

    const layoutLine2 = {
        title: 'Average Incomes (1900–2020)',
        xaxis: { title: 'Year' },
        yaxis: { title: 'Price (USD)' }
    };

    Plotly.newPlot('plot2', [traceLine2], layoutLine2, config);
</script>
