<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sample Plotly Graph</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
  <div id="plot"></div>

  <script>
    const trace1 = {
      x: [1, 2, 3, 4, 5],
      y: [10, 15, 13, 17, 22],
      type: 'scatter',
      mode: 'lines+markers',
      marker: { color: 'blue' },
      name: 'Sample Line'
    };

    const layout = {
      title: 'The average price of goods from 1900 - 2020',
      xaxis: { title: 'X Axis' },
      yaxis: { title: 'Y Axis' }
    };

    Plotly.newPlot('plot', [trace1], layout);
  </script>
</body>
</html>

